body {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.door {
  background-color: gray;
  color: white;
  width: 9rem;
  height: 9rem;
  text-align: center;
  line-height: 9rem;
  font-size: 5rem;
}

.door-enabled {
  background-color: green !important;
  color: white !important;
  width: 9rem;
  height: 9rem;
  text-align: center;
  font-size: 5rem !important;
}

.page-container {
  padding: 5vh;
  height: 80vh;
}

.divider-custom {
  height: 4rem;
}